{% load replace_value %}

{% if segment %}
<nav>
  <!-- breadcrumb -->
  <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
    <li class="leading-normal text-sm">
      <a class="opacity-50 text-slate-700" href="javascript:;">{{ parent|replace_value:"_" }}</a>
    </li>
    <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">{{ segment|replace_value:"_" }}</li>
  </ol>
  <h6 class="mb-0 font-bold capitalize">{{ segment|replace_value:"_" }}</h6>
</nav>
{% endif %}